       body {
           background-color: black;
       }

       h1 {
           color: white;
       }

       p {
           background-color: grey;
           color: white;
       }
       #p1{}
       
       .odd{
            color:red
       }
       .even{
            color:yellowgreen
       }