       body {
            background-image: url(diablo.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
       }

       h1 {
           color: white;
           font-family: "press start 2P", "consolas", "sans-serif";
           border-top-style: dashed;
           border-bottom-style: dashed;
           border-left-style: dashed;
           border-right-style: dashed;
           border-color: gold;
           padding: 10px;
           background: linear-gradient(to right, rgb(0, 0, 0), rgb(185, 185, 185));
           background-repeat: no-repeat;
           background-attachment: fixed;
       }

       p {
           font-family: "consolas", "sans-serif";
           font-style: italic;
           font-size: x-large;
           text-decoration: underline;
           font-size: 24px;
           background: linear-gradient(to left, rgb(0, 0, 0), rgb(185, 185, 185));
           background-repeat: no-repeat;
           background-attachment: fixed;
         }

       #p1{
            color: white
       }
       p2{
            border-style: solid;
            border-width: 5px;
            border-color: silver;
            border-radius: 5px;
            padding: 5px;
       }
    
       .odd{
            color: beige
       }
       .even{
            color: bisque
       }

       #box1{
            border: 5px solid;
            width: 250px;
            height: 250px;
            font-size: 22px;
            background: linear-gradient(to left, rgb(0, 0, 0), rgb(185, 185, 185));
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 20px;
            margin: 50px;

       }

       #box2{
            border: 5px solid;
            width: 250px;
            height: 250px;
            font-size: 22px;
            background: linear-gradient(to left, rgb(0, 0, 0), rgb(185, 185, 185));
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 20px;
            margin: 50px;
       }